.container {
    width: 260px;
    background-color: DeepSkyBlue;
    border-color: black;
    border-style: solid;
    margin: 1px;
    padding: 1px;
    display: flex;
    flex-direction: row;
  }
  
  .fon {
    box-shadow: 5px 5px 10px 1px #000;
    border-color: black;
    border-style: solid;
    border-radius: 7px;
    margin: 5px;
    padding: 10px;
    background-color: Violet;
    height: 70px;
    width: 50px;
  }
  
  @keyframes slidein {
    from {
      margin-left: 50%;
      width: 70%;
    }
  
    to {
      margin-left: 0%;
      width: 30%;
    }
  }
/* ********************** */
label {
  font-weight: 700;
  display: block;
  font-size: 14px;
}
input {
  font-weight: 700;
  width: 100px;
  height: 15px;
  font-size: 14px;
}

.fonBtn {
  background-color: yellow;
	color: red;
	width: 120px;
	margin: 1px;
	font-weight: 900;
	border-color: black;
	border-width: 3px;
  border-style: solid;
	box-shadow: 5px 5px 10px 1px #000;
}